@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-image {
  border-radius: 50%;
}

.i-am::before {
  content: "Full-Stack Engineer";
  animation: titles infinite 16s;
}

@keyframes titles {
  20% {
    content: "React Developer";
  }
  40% {
    content: "AWS Certified Cloud Practitioner";
  }
  60% {
    content: "Java & Springboot engineer";
  }
  80% {
    content: "Dotnet Developer"
  }
  100% {
    content: "Full-Stack Engineer"
  }
}
